* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-basis: 50px;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 600px;
  flex-shrink: 0;
}

header,
.main {
  background-color: #1f2937;
}

li {
  list-style: none;
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  display: flex;
  gap: 15px;
  padding-left: 0;
  flex-shrink: 0;
  padding-right: 0px;

}

h1 {
  font-weight: 800;
  font-size: 48px;
  margin-bottom: -5px;
  width: 350px;
}

.hero-second {
  width: 450px;

}

#header-logo {
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 500px;
}

#header-logo,
h1	{
  color: #f9faf8;
}

.hero-second,
a,
button,
p#title {
    color: #e5e7eb;
    font-size: 18px;
}

button {
  background-color: #3882f6;
  border-radius: 10px;
  height: 40px;
  width: 125px;
  border: 0px;
  margin-right: 300px;
}

.large-frame {
  text-align: center;
  width: 400px;
  height: 315px;
  border: 5px solid white;
  flex-shrink: 0;
   /* Background pattern from Total Subtle Patterns */
  /* background-image: url('./images/BigBoss.jpg'); */
}

#large-image {
  width: 400px;
  margin-right: 200px;
}

.info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.box-text {
  display: flex;
  flex-direction: column;
}

.box {
  border: 3px solid #3882f6;
  height: 156.5px;
  width: 220px;
  flex-shrink: 0;
}

#sidekick,
#turning-kick,
#sparring,
#bag-work {
  width: 220px;
}

#turning-kick,
#bag-work {
  height: 156.5px;
} 

#text {
  display: flex;
  align-self: center;
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quote-section p {
  width: 900px;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  margin: 0;
}

#quote {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  padding-right: 150px;
}

.quote-section,
.info,
.main,
.call-section {
  height: 400px;
}

.call-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-basis: 1000px;
   height: 150px;
   background-color: #3882f6;
   border-radius: 10px;
   color: #e5e7eb;
   flex-shrink: 0;
}

p#title {
  font-weight: 700;
  margin-bottom: -10px;

}

#call-button {
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid white;
    font-weight: 700;
    width: 125px;
    align-self: center;
    margin-right: 0;
  }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  height: 150px;
}